<h4>　　　　　管理者ログイン</h4><br />

<!--form_forの修正。-->
<%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="container">
    <div class="row">
      <label class="col-sm-4">　　　　　　　　　　　　　　メールアドレス</label>
      <div class="col-sm-8"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6"  %></div>
    </div><br />
    <div class="row">
      <label class="col-sm-4">　　　　　　　　　　　　　　パスワード</label>
      <div class="col-sm-8"><%= f.password_field :password, autocomplete: "current-password", class: "col-sm-6"  %></div>
    </div><br />
    <div class="row">
      <label>　　　　　　　　　　　　　　　　　　　　　　　　　<%= f.submit "ログイン", class: "btn btn-primary" %></label>
    </div><br />
  </div>
<% end %>

<%= render "admin/shared/links" %>
