<h4>ログイン</h4><br />

<h6>会員の方はこちらからログイン</h6><br />
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="container">
    <div class="row">
      <label class>メールアドレス</label>
      <div class><%= f.text_field :email, autofocus: true, autocomplete: "email" %></div>
    </div>
    <div class="row">
      <label class>パスワード</label>
      <div class><%= f.text_field :password, autocomplete: "current-password" %></div>
    </div><br />
    <div class="row">
    <%= f.submit 'ログイン', class: "btn btn-primary" %>
    </div><br />
  </div>
<% end %>

<!--以下を後で消去-->
<!--大%= render "public/shared/links" %><br />-->

<h6>会員の登録がお済みでない方</h6>
<%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。
