<h4>ログイン</h>

<h6>会員の方はこちらからログイン</h6>
<!--form_with-->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div><br />
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div><br />
<% end %>

<!--以下を後で消去-->
<!--大%= render "public/shared/links" %><br />-->

<h6>会員の登録がお済みでない方</h6>
<%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。
