<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--追記-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <ul>
          <!-- 会員のログイン後ページ-->
          <% if customer_signed_in? %>
            <li><%= link_to "マイページ", customers_my_page_path %></li>
            <li><%= link_to "商品一覧", public_items_path %></li>
            <li><%= link_to "カート", public_cart_items_path %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li><br />
          <!-- 管理者のログイン後ページ-->
          <% elsif admin_signed_in? %>
            <li><%= link_to "商品一覧", admin_items_path %></li>
            <li><%= link_to "会員一覧", admin_customers_path %></li>
            <li><%= link_to "注文履歴一覧", admin_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li><br />
          <!-- ログインしてない場合の共通ページ-->
          <% else %>
            <li><%= link_to "About", about_path %></li> <%# 以下すべて会員側 %>
            <li><%= link_to "商品一覧", public_items_path %></li>
            <li><%= link_to "新規登録", new_customer_registration_path %></li>
            <li><%= link_to "ログイン", new_customer_session_path %></li><br />
          <% end %>
        </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
