<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--追記-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <ul>
          <!--後で以下に書き換え-->
          <!--if-->
          <!--elsif-->
          <!--elsif-->
          <!--elsif-->
          <!--end-->

          <!-- 管理者ページかつログイン後-->
          <% if admin_signed_in? %>
            <li><%= link_to "商品一覧", admin_items_path %></li>
            <li><%= link_to "会員一覧", admin_customers_path %></li>
            <li><%= link_to "注文履歴一覧", admin_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li><br />
          <!-- 管理者ページかつログアウト前-->
          <% else %>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "商品一覧", admin_items_path %></li>
            <li><%= link_to "新規登録", new_admin_item_path %></li>
            <li><%= link_to "ログイン", new_admin_session_path %></li><br />
          <% end %>
        </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
